<!DOCTYPE html>

<html>
    <head>
        <title>PhoneBook</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../lib/css/bootstrap-theme.css" type="text/css"/>
        <script src="../controllers/AbonentController.js"></script>
        <script src="../controllers/AdminController.js"></script>
        <script src="../controllers/PhoneNumberController.js"></script>
        <script src="../service/AbonentService.js"></script>
        <script src="../service/AdminService.js"></script>
        <script src="../service/PhoneNumberService.js"></script>
        <script>
         function insertAbonent(){
                var controller = new AbonentController();
                var abonent={};
                var fn = document.form1.firstName.value;
                var ln = document.form1.lastName.value;
                var pt = document.form1.patronymic.value;
                if((fn=="")||(ln=="")||(pt==""))
                {alert("Введите все данные");}
                else{
                abonent.firstName = fn;
                abonent.lastName = ln;
                abonent.patronymic = pt;
                var json = JSON.stringify(abonent);
                controller.insertAbonent(json);
                alert("Абонент добавлен");}
            }
        </script>
    </head>

  <body  style="background-image: url(/PhoneBook/images/rrr.jpg);">
      <div class="container">
            <div class="row" style="background-color: white; width:1200px">
                <div class="span12"  style="background-color: white; width: 1150px;">
                    <div class="head">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <h1 class="muted">PHONEBOOK</h1>
                                </div>

                                <div class="span4 offset2" style="margin-top:15px;">
                                    <button class="btn pull-right" type="button">Sign In</button>
                                </div>
                            </div>
                        </div>

                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">
                                    <ul class="nav">
                                        <li>
                                            <a href="/PhoneBook/index.html">Главная</a>
                                        </li>
                                        <li>
                                            <a href="/PhoneBook/view/add.html">Добавить</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="container" style="background-color: white; width:1200px;height: 512px;margin-top: 10px;">
          <div class="row">
              
              <div  class="span2" style="padding-bottom: 20px;"></div>
              <form class="form-horizontal" name="form1">
                  <fieldset style="width: 60%;">
                    
                    <legend style="background-color:#f7f7f7;margin-left: 50px;margin-top: 40px;padding-left: 20px;width: 1140px">Данные абонента</legend>
                      <div style="margin-left: 200px;margin-right: 400px;" class="form-control-static">
                          <label class="col-md-4 control-label" for="textinput">Фамилия</label>  
                          <div class="col-md-4">
                              <input style="width: 200px;" id="textinput" name="lastName" placeholder="Иванов" class="form-control input-md" required="" type="text">

                          </div>
                      </div>

                      <!-- Text input-->
                      <div style="margin-left: -30px;" class="form-control-static">
                          <label class="col-md-4 control-label" for="textinput">Имя</label>  
                          <div class="col-md-4">
                              <input style="width: 200px;" id="textinput" name="firstName" placeholder="Иван" class="form-control input-md" required="" type="text">

                          </div>
                      </div>

                      <!-- Text input-->
                      <div style="margin-left: 200px;margin-right: 400px;" class="form-control-static"><br>
                          <label class="col-md-4 control-label" for="textinput">Отчество</label>  
                          <div class="col-md-4">
                              <input style="width: 200px;" id="textinput" name="patronymic" placeholder="Иванович" class="form-control input-md" required="" type="text">

                          </div>
                      </div>
                       <!-- Text input-->
                      <div style="margin-left: 10px;" class="form-group">
                          <label class="col-md-4 control-label" for="textinput">Номер телефона</label>  
                          <div class="col-md-4">
                              <input style="width: 200px;" id="textinput" name="phoneNum" placeholder="8-888-888-88-88" class="form-control input-md" required="" type="text">

                          </div>
                      </div>
                      <!-- Button (Double) -->
                      <div style="margin-left: 200px;" class="form-group">
                          <label class="col-md-4 control-label" for="save"></label>
                          <div class="col-md-8">
                              <button id="save" onclick="insertAbonent();" name="save" class="btn btn-success">Сохранить</button>
                              <a href="/PhoneBook/index.html" role="button" id="cancel" name="cancel" class="btn btn-danger">Отмена</a>
                          </div>
                      </div>

                  </fieldset>
              </form>

          </div>
      </div>
    <!--  ================================================== -->
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>